.page-layout {
  display: flex;
  gap: 4rem;
  margin: 0 0;
  padding: 2rem 3%;

  @media screen and (max-width: 1200px) {
    gap: 0;
    padding: 0 0;
  }
}

.page-content {
  flex: 1;
  min-width: 0;

  margin: 0 0;
  padding: 0 1%;
  @media screen and (max-width: 1200px) {
    /* gap: 0; */
    padding: 0 0;
    padding-bottom: 1rem;
  }
}
